@model int

<button class="btn btn-xs btn-link" style="font-size:25px;">
    <i class="fa fa-shopping-cart" style="color:black"></i>
</button>
<span class="badge badge-notify" style="font-size:10px;">@Model</span>